In [47]:
import pandas as pd
import numpy as np
#import glob
#import os
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
from wordcloud import WordCloud

ModuleNotFoundError: No module named 'List'

# Working on Tweets Dataset

In [ ]:
#all_tweets = glob.glob("/home/hammad/Workdir/FYP/Dataset/Tweets/*.csv")

In [ ]:
#tweets_dataset = pd.concat((pd.read_csv(f) for f in all_tweets))
#tweets_dataset= pd.read_csv('/home/hammad/Dropbox/University of Hertfordshire/FYP Project/Dataset/elonmusk_tweets.csv', parse_dates=["created_at"])
tweets_dataset= pd.read_csv('C:/Users/malik/Dropbox/University of Hertfordshire/FYP Project/Dataset/elonmusk_tweets.csv', parse_dates=["created_at"])

In [ ]:
tweets_dataset.head()

In [ ]:
tweets_dataset.info()

In [ ]:
#tweets_data = tweets_dataset[['date','tweet']]
tweets_data = tweets_dataset[['created_at','text']] # drop the id column

In [ ]:
tweets_data.head()

In [ ]:
#tweets_data['datetime'] = pd.to_datetime(tweets_data['created_at'])

In [ ]:
tweets_data.info()

In [ ]:
df =  tweets_data # copying dataframe into df

In [ ]:
df['Index'] = df.index # creating new index column and copying all index values into that column

In [ ]:
df = tweets_data.set_index('created_at') # setting datetime column as index

In [ ]:
df

In [ ]:
df1 = df.between_time('16:00', '00:00') # separating all the tweets which are post after 4PM
df1

In [ ]:
#df2=tweets_data.between_time('00:01', '09:00')
#df2

In [ ]:
#df = pd.concat([df1, df2])

In [ ]:
#df['created_at']=df.index # copying all the index values in to new column named created_at
df1['created_at']=df1.index # copying all the index values in to new column named created_at
#df=df.set_index('Index') # Setting Index column as index
df1=df1.set_index('Index') # Setting Index column as index

In [ ]:
#df = df[['created_at', 'text']] # changing the column position
#df

In [ ]:
df1 = df1[['created_at', 'text']] # changing the column position
df1

In [ ]:
df2 = df1['created_at'] + timedelta(days=1) - timedelta(hours=9) # changing date to next day and shifting hours back to 4PM

In [ ]:
df2

In [ ]:
tweets_data.update(df2) #update the df2 values into original dataset

In [ ]:
#tweets_data["created_at"].min() , tweets_data["created_at"].max()

In [ ]:
#tweets_data["created_at"].max()-tweets_data["created_at"].min()

In [ ]:
#days = tweets_data['created_at'].dt.day_name()

In [ ]:
#days_index = tweets_data['created_at'].dt.dayofweek
#tweets_data['days_name'] = days
#tweets_data['dayofWeek_index'] = days_index
#

In [ ]:
#tweets_data.head()

In [ ]:
#Sunday = tweets_data['created_at'].dt.dayofweek == 2





#result = tweets_data['created_at'].dt.dayofweek
#df10 =tweets_data[tweets_data.dt.dayofweek == 6] 
#tweets_data[tweets_data.index.dayofweek == 6]
#df10

In [ ]:
saturday = pd.DataFrame() # created empty dataframe
sunday = pd.DataFrame() # created empty dataframe
saturday = tweets_data.loc[(tweets_data['created_at'].dt.dayofweek==5)] # separated all the saturday tweets
sunday = tweets_data.loc[(tweets_data['created_at'].dt.dayofweek==6)] # separated all the sunday tweets
#temp_df = tweets_data['created_at']

In [ ]:
saturday

In [ ]:
#saturday=tweets_data[tweets_data.days_name=='Saturday']
#sunday=tweets_data[tweets_data.days_name=='Sunday']

In [ ]:
sunday

In [ ]:
#sunday = sunday.drop(['days_name', 'dayofWeek_index'], axis=1)
#saturday = saturday.drop(['days_name', 'dayofWeek_index'], axis=1)

In [ ]:

#from dateutil.parser import parse

In [ ]:
newsundaydates = sunday['created_at'] + timedelta(days=1) # change the sunday date to monday
newsaturdaydates = saturday['created_at'] + timedelta(days=2) # change the saturday date to monday

In [ ]:
sunday['created_at'] = newsundaydates.values # updated the sunday new dates to dataframe 
saturday['created_at'] = newsaturdaydates.values # updated the saturday dates to dataframe

In [ ]:
saturday

In [ ]:
sunday

In [ ]:
#tweets_data = tweets_data.drop(['days_name', 'dayofWeek_index'], axis=1)

In [ ]:
#tweets = pd.concat()

In [ ]:
tweets_data.update(newsundaydates) # updated the dataframe with new values
tweets_data.update(newsaturdaydates)
#tweets_data['created_at'] = newsundaydates.values
#tweets_data['created_at'] = newsaturdaydates.values

In [ ]:
tweets_data # updated dataframe with no saturday and sunday dates

In [ ]:
tweets_data = tweets_data[['created_at','text']]# droping index column

In [ ]:
tweets_data # clean dataset with no tweets on saturday, sunday and after 4PM

In [ ]:
import re
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [ ]:
#print(stopwords.words('english'))
#print(len(stopwords.words('english')))
StopWords = stopwords.words('english')

removewords = ['but','because','until','during','before','after','more','most','no','not','nor', 'only','own','same',
         'very','can','wil','just',"don't",'should','now', "couldn't","didn't", "doesn't","hadn't", 'won']
for words in removewords:
    if words in StopWords:
        StopWords.remove(words)

StopWords.extend(['due', 'et','sat','http', 'https', 'com', '@[\w]+','b', 'none', 'non', 'jujqwfcv', 'basically'
                  'btw', 'altmossberg', 'aveleebbc', 'ims', 'co','dtype','hea','tu', 'v', 'wmcnt'])       
#print('#########################################')
#print(StopWords)
#print(len(StopWords))

In [ ]:
# This function will remove the unnecessary symbols, stopwords, and stem the words to tokens.
def clean_string(review):
    review = re.sub('@[a-zA-Z]', ' ', review) # remove hastags with @
    review = re.sub('#[a-zA-Z]', ' ', review) # remove hastags with #
    review = re.sub('[^a-zA-Z]', ' ', review) # remove every thing except alphabets 
    review = review.lower() # lower case all the tweets
    review = review.split()
    #ps = PorterStemmer()
    wnl = nltk.WordNetLemmatizer()
    review = [wnl.lemmatize(word) for word in review if not word in set(StopWords)]
    review = ' '.join(review)
    return review

In [ ]:
corpus = tweets_data['text'].apply(clean_string) # applying the cleaning function

In [ ]:
print(corpus)
type(corpus)
string = str(corpus)

In [ ]:
tweets_data.update(corpus)

In [ ]:
tweets_data

In [ ]:
word_cloud = WordCloud(collocations = False, background_color = 'white').generate(string)

In [ ]:
plt.imshow(word_cloud, interpolation='bilinear')
plt.axis("off")
plt.show()

In [ ]:
#days = tweets_data['created_at'].dt.day_name()
#days_index = tweets_data['created_at'].dt.dayofweek
#tweets_data['days_name'] = days
#tweets_data['dayofWeek_index'] = days_index

# Working on Stock Dataset

In [25]:
#stock_dataset = pd.read_csv('/home/hammad/Dropbox/University of Hertfordshire/FYP Project/Dataset/TSLA.csv')
stock_dataset = pd.read_csv('C:/Users/malik/Dropbox/University of Hertfordshire/FYP Project/Dataset/TSLA.csv')

In [26]:
stock_dataset.head()

         Date   Open   High    Low  Close  Adj Close    Volume
0  2010-07-01  5.000  5.184  4.054  4.392      4.392  41094000
1  2010-07-02  4.600  4.620  3.742  3.840      3.840  25699000
2  2010-07-06  4.000  4.000  3.166  3.222      3.222  34334500
3  2010-07-07  3.280  3.326  2.996  3.160      3.160  34608500
4  2010-07-08  3.228  3.504  3.114  3.492      3.492  38557000

In [27]:
stock_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3020 entries, 0 to 3019
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3020 non-null   object
 1   Open       3020 non-null   float64
 2   High       3020 non-null   float64
 3   Low        3020 non-null   float64
 4   Close      3020 non-null   float64
 5   Adj Close  3020 non-null   float64
 6   Volume     3020 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 165.3+ KB

In [28]:
stock_dataset.describe()

,Open,High,Low,Close,Adj Close,Volume
count,3020.000000,3020.000000,3020.000000,3020.000000,3020.000000,3.020000e+03
mean,154.251962,157.730617,150.459072,154.186139,154.186139,3.122409e+07
std,269.125203,275.426172,262.039222,268.820431,268.820431,2.766592e+07
min,3.228000,3.326000,2.996000,3.160000,3.160000,5.925000e+05
25%,22.500499,23.776000,21.430499,22.802500,22.802500,1.347962e+07
50%,47.256000,48.134998,46.435000,47.438000,47.438000,2.514300e+07
75%,69.444002,70.412501,68.435999,69.465998,69.465998,3.952115e+07
max,1234.410034,1243.489990,1217.000000,1229.910034,1229.910034,3.046940e+08

In [29]:
stock_dataset = stock_dataset[['Date','Adj Close']]

In [30]:
stock_dataset

            Date   Adj Close
0     2010-07-01    4.392000
1     2010-07-02    3.840000
2     2010-07-06    3.222000
3     2010-07-07    3.160000
4     2010-07-08    3.492000
...          ...         ...
3015  2022-06-23  705.210022
3016  2022-06-24  737.119995
3017  2022-06-27  734.760010
3018  2022-06-28  697.989990
3019  2022-06-29  685.469971

[3020 rows x 2 columns]

In [113]:
df1=stock_dataset

In [31]:
df = stock_dataset['Adj Close']

In [124]:
df2 = pd.DataFrame()
b=[]
for i in stock_dataset.index:
    if i!=3019:
        if (stock_dataset['Adj Close'][i+1]>stock_dataset['Adj Close'][i]):
            b.append(-1)
        elif (stock_dataset['Adj Close'][i+1]<stock_dataset['Adj Close'][i]):
            b.append(1)
        elif (stock_dataset['Adj Close'][i+1]==stock_dataset['Adj Close'][i]):
            b.append(0)
    else:
        b.append(2)
df2=pd.DataFrame(b)
df1.join(df2)

            Date   Adj Close  0
0     2010-07-01    4.392000  1
1     2010-07-02    3.840000  1
2     2010-07-06    3.222000  1
3     2010-07-07    3.160000 -1
4     2010-07-08    3.492000  1
...          ...         ... ..
3015  2022-06-23  705.210022 -1
3016  2022-06-24  737.119995  1
3017  2022-06-27  734.760010  1
3018  2022-06-28  697.989990  1
3019  2022-06-29  685.469971  2

[3020 rows x 3 columns]

In [122]:
df2

      0
0     1
1     1
2     1
3    -1
4     1
...  ..
3015 -1
3016  1
3017  1
3018  1
3019  2

[3020 rows x 1 columns]

In [111]:
len(b)

3020

In [76]:
stock_dataset['Adj Close'][i]

685.469971

In [69]:
len(b)

3019

In [88]:
len(stock_dataset.index)

3020

In [74]:
len(stock_dataset)

3020

In [104]:
[i+1]==3019

False

In [109]:
len(stock_dataset)

3020

In [80]:
stock_dataset.index[`i+1]

IndexError: index 3020 is out of bounds for axis 0 with size 3020

In [9]:
temp = df.to_numpy()

In [10]:
print(temp)
print(len(temp))
print(type(temp))
print(temp[1])
print(type(temp[1]))

[  4.392      3.84       3.222    ... 734.76001  697.98999  685.469971]
3020
<class 'numpy.ndarray'>
3.84
<class 'numpy.float64'>

In [16]:
#a = list(0 for i in range(0,3020))
for i in range(3020):
    a = temp[i]
    b = temp[i+1]
    if b > a:
        print(1)
        a[i] = 1
    elif b < a:
        print(-1)
        a[i] = -1

-1

TypeError: 'numpy.float64' object does not support item assignment

In [19]:
a = np.array((0 for i in range(0,3020)),dtype=np.float64)

TypeError: float() argument must be a string or a number, not 'generator'

In [ ]:
a = []
for i in temp:
    if (temp[i+1]>temp[i]):
        print('kkkkk')
        #a.append(1)
    else:
        print('jjjjj')
        #a.append(-1)

In [ ]:
import numpy as np
t = [1,2,1,4,5]


for idx, i in enumerate(t):
    if(t[idx+1] > i):print(1)
    else: print(-1)

In [ ]:
df = pd.DataFrame()
emptylist = []
counter = 3020
for i in range(3020):
    if (stock_dataset['Adj Close'][i+1]>stock_dataset['Adj Close'][i]): df.iloc[i]=1
    else: df.iloc[i]=-1 
    #print('Hammad')
    #emptylist.append(-1)
    #if

In [ ]:
emptylist

In [ ]:
stock_dataset.index

In [ ]:
llist = []
for i in range(3020):
    if (stock_dataset['Adj Close'][i+1]>stock_dataset['Adj Close'][i]): llist.append[i]=1
    else: llist.append[i]=1